DELIVERY_MOCK_SERVICE_NAME=stockflow-delivery-mock
DELIVERY_MOCK_HTTP_PORT=8080
DELIVERY_MOCK_DEBUG_ENABLED=true

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=stockflow
RABBITMQ_PASSWORD=stockflow
RABBITMQ_VHOST=/
